/*
#contentandad{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
*/
.content{
    width: auto;
    border: 1px solid black;
    max-width: 60vw;
    max-height: fit-content;
}
.adspace2{
    width: 50vw;
    border: 1px solid red;
    height: 15vw;
}
#content{
    text-align: center;
}
#heading{
    font-size: 2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}
.adspace{
    width: auto;
    height: auto;
    max-width: 30vw;
    max-height: auto;
}
img{
    width: 45vw;
    max-width: 50vw;
    max-height: auto;
}