
.content{
    width: 60%;
    max-height: fit-content;
    font-family: emoji;
    font-size: larger;
}

#content{
    text-align: left;
}
#heading{
    font-size: 2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: left;
    width: 60%;
}
.adspace{
    width: auto;
    height: auto;
    max-width: 30vw;
    max-height: auto;
}
img{
    width:60%;
    height:auto;
    object-fit: cover;
}
#btn{
    text-align: center;
}